:root {
  --imageBorderRadius: 10px;
  --containerWidth: fit-content;
  --cardPadding: 15px;
}

.Container {
  background-color: #363636;
  width: var(--containerWidth);
  padding: var(--cardPadding);
  border-radius: var(--imageBorderRadius);
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  border: 1px solid wheat;
  color: white;
}

.Container img {
  border-radius: var(--imageBorderRadius);
  width: var(--containerWidth);
}

.Description {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  margin-top: 10px;
}

.Description button {
  padding-top: 10px;
  color: white;
  text-decoration-line: underline;
  text-align: center;
}

.Description button :hover {
  color: #FDCB67;
}

.Description p {
  margin-top: 5px;
  background-color: rgb(59, 59, 59);
  border-radius: var(--imageBorderRadius);
  padding: var(--cardPadding);
  border: 0.5px solid #626264;
}

.GallaryView {
  display: grid;
  padding-top: 3%;
}

.FilterFunction {
  display: grid;
  grid-template-columns: auto auto auto; /* Three equal columns */
  padding-top: 30px;
  justify-content: right; /* Aligns the grid items to the right */
}

.filterBox {
  background-color: white;
  padding: 5px 20px;
  border-radius: 10ex;
  display: grid;
  grid-template-columns: auto auto;
  /* gap: 7px; */
  align-items: center;
}

.filterBox h1 {
  font-size: 18px;
  margin: 0;
}

.filterBox span {
  display: flex;
  align-items: center;
  justify-self: right;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(223, 81, 81);
}

.filterBox img {
  width: 20px;
  height: 20px;
}

.filter-dropdown {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px;
}

.filterBox:hover + .filter-dropdown {
  display: block; /* Show dropdown on hover */
}

.GallaryView {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* Responsive grid */
  gap: 20px;
  padding: 20px;
}

@media (max-width: 320px) {
  :root {
    --containerWidth: 100%;
  }
  .GallaryView {
    grid-template-columns: auto;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  :root {
    --containerWidth: 100%;
  }
  .Description p {
    font-size: 12px;
  }
  .GallaryView {
    grid-template-columns: auto;
  }
  .filterBox h1 {
    font-size: 20px;
  }
  .filterBox span {
    width: var(--containerWidth);
    height: var(--containerWidth);
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  :root {
    --containerWidth: 100%;
  }
  .GallaryView {
    grid-template-columns: auto;
  }
  .Description p {
    font-size: 12px;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  :root {
    --containerWidth: 100%;
  }
  .GallaryView {
    grid-template-columns: auto auto;
    gap: 30px;
  }
  .Description p {
    font-size: 12px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  :root {
    --containerWidth: 100%;
  }
  .GallaryView {
    grid-template-columns: auto auto;
    gap: 30px;
  }
}

@media (min-width: 1024px) and (max-width: 1440px) {
  :root {
    --containerWidth: 100%;
  }
  .GallaryView {
    grid-template-columns: auto auto;
    gap: 30px;
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  :root {
    --containerWidth: 100%;
  }
  .GallaryView {
    grid-template-columns: auto auto;
    gap: 30px;
  }
}
